<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="style.css" type="text/css" />
        <title><%var title%></title>
    </head>
    <body>
        <h1><%var title%></h1>
        <%var contents escape=none%>
    </body>
</html>
